.App {
  text-align: center;
  background-image: radial-gradient(#4f6875, #263238);
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

section#switches-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.switch {
  position: relative;
  display: block;
  margin: 1em;
  width: 150px;
  height: 60px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid #546E7A;
  background-color: #263238;
  transition: all 500ms;
}

.switch:active {
  background-color: #1c2429;
}
.switch:hover:not(.switch--moving):after {
  background-color: #455A64;
}
.switch:after {
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  background-color: #37474F;
  border: 2px solid;
  transition: all 500ms;
}

.switch--on:after {
  content: 'On';
  border-radius: 50px 5px 5px 50px;
  color: #66BB6A;
}

.switch--off:after {
  content: 'Off';
  border-radius: 5px 50px 50px 5px;
  transform: translate(100%, 0);
  color: #f44336;
}

.switch--moving {
  background-color: #1c2429;
}
.switch--moving:after {
  color: transparent;
  border-color: #435862;
  background-color: #222c31;
  transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}